<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Cliente</th>
      <th>Cantidad</th>
      <th>Fecha_apertura</th>
      <th>Especificaciones</th>
      <th>Importe</th>
    </tr>
  </thead>
  <tbody>
    <% @dash_board_jobs_by_client.each do |result| %>
     <tr>
       <td><%= result["Pedido"] %></td>
       <td><%= result["Cliente"] %></td>
       <td><%= result["Cantidad"] %></td>
       <td><%= result["Fecha_apertura"] %></td>
       <td><%= result["Especificaciones"] %></td>
       <td><%= result["Importe"] %></td>
     </tr>
   <% end %>
</tbody>
</table>
