<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
    <h5 class="card-header">Polar Charts</h5>
    <div class="card-body">
        <canvas id="chartjs_doughnut"></canvas>
    </div>
  </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
 <div class="card">
    <h5 class="card-header">Material Group Costs Ever</h5>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table">
          <thead class="bg-light">
            <tr class="border-0">
              <th class="border-0">Material Group</th>
              <th class="border-0">Cost</th>
            </tr>
          </thead>
          <tbody>
            <% @material_group_costs.each do |material_group_cost| %>
            <tr>
              <td><%= material_group_cost["name"] %></td>
              <td><%= number_to_currency(material_group_cost["value"], :unit=>'') %> &euro;</td>
            </tr>
            <% end %>
            <tr>
              <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
var dataset = <%= raw @doughnut_stast[:dataset].to_json %>;
var labels = <%=  raw @doughnut_stast[:labels].to_json %>;
<% end %>
